@font-face {
    font-family: far-from homecomming;
    src: url("../DOCUMENT/Far-From\ Homecoming\ Updated.otf");
}

h1 {
    color: #FFFFFF;
    text-align: start;
    font-family: 'Far-from homecomming';
    font-size: 32px;
    font-weight: lighter;
}

h2 {
    color: #000000;
    font-weight: xx-small;
    font-family: 'Montserrat';
    padding-bottom: 12%;
}

h3 {
    color: #000000;
    font-weight: 20px;
    font-family: 'Montserrat';
    padding-left: 2%;
}

p {
    margin: 0%;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 12px;
    padding-left: 15%;
}


/*Responsive*/

#header-mobile {
    display: none;
}

#vilain-mobile {
    display: none;
}

#persos-mobile {
    display: none;
}

#information-mobile {
    display: none;
}

@media only screen and (max-width:760px) {
    #header-mobile {
        display: block;
    }
    #header-web {
        display: none;
    }
    #vilain-mobile {
        display: block;
    }
    #vilain-web {
        display: none;
    }
    #persos-mobile {
        display: flex;
    }
    #prsos-web {
        display: none;
    }
    #information-mobile {
        display: block;
    }
    #information-web {
        display: none;
    }
}

@media only screen and (max-width:500px) {
    #vilain-mobile {
        display: block;
    }
    #vilain-web {
        display: none;
    }
    #persos-mobile {
        display: flex;
    }
    #persos-web {
        display: none;
    }
}