@font-face {
    font-family: far-from homecomming;
    src: url("../DOCUMENT/Far-From\ Homecoming\ Updated.otf");
}

header {
    padding-bottom: 1%;
}

h1 {
    color: #FFFFFF;
    text-align: start;
    font-family: 'Far-from homecomming';
    font-size: 32px;
    font-weight: lighter;
}

h3 {
    color: #FFFFFF;
    font-weight: 20px;
    font-family: 'Montserrat';
    padding-left: 2%;
}

p {
    color: #FFFFFF;
    margin: 0%;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 12px;
    padding-left: 15%;
}

footer {
    background-color: #000000;
}

footer p {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 16px;
    font-size: x-small;
}


/*Responsive*/

#menu-mobile {
    display: none;
}

#information-mobile {
    display: none;
}

@media only screen and (max-width:760px) {
    #menu-mobile {
        display: block;
    }
    #menu-web {
        display: none;
    }
    #information-mobile {
        display: block;
    }
    #information-web {
        display: none;
    }
}