@font-face {
    font-family: far-from homecomming;
    src: url("../DOCUMENT/Far-From\ Homecoming\ Updated.otf");
}

header {
    padding-bottom: 1%;
}

footer {
    margin-top: -0.2%;
    background-color: #000000;
}

footer p {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 16px;
    font-size: x-small;
}


/*Responsive*/

#menu-mobile {
    display: none;
}

#Spiderman-mobile {
    display: none;
}

#contenair-mobile {
    display: none;
}

#main-mobile {
    display: none;
}

#avengers-mobile {
    display: none;
}

#block-mobile {
    display: none;
}

#information-mobile {
    display: none;
}

@media only screen and (max-width:760px) {
    #menu-mobile {
        display: block;
    }
    #menu-web {
        display: none;
    }
    #Spiderman-mobile {
        display: block;
    }
    #Spiderman-web {
        display: none;
    }
    #contenair-mobile {
        display: flex;
    }
    #contenair-web {
        display: none;
    }
    #main-mobile {
        display: flex;
    }
    #main-web {
        display: none;
    }
    #avengers-mobile {
        display: block;
    }
    #avengers-web {
        display: none;
    }
    #block-mobile {
        display: block;
    }
    #block-web {
        display: none;
    }
    #information-mobile {
        display: block;
    }
    #information-web {
        display: none;
    }
}